:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #ff8c00;
  text-decoration: none;
}
a:hover {
  color: #e07a5f;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f4f4f4;
}

h1 {
  font-size: 3em;
  line-height: 1.2;
  color: #333;
}

button {
  border-radius: 10px;
  border: 2px solid #4caf50;
  padding: 0.8em 1.5em;
  font-size: 1.2em;
  font-weight: 600;
  font-family: inherit;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.25s;
}
button:hover {
  background-color: #45a049;
}
button:focus,
button:focus-visible {
  outline: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #333;
    background-color: #ffffff;
  }
  a:hover {
    color: #e07a5f;
  }
  button {
    background-color: #f4f4f4;
    border-color: #e07a5f;
    color: #333;
  }
}

.card-grid {
  background-color: #3498db;
  padding: 30px;
  border-radius: 20px;
}

.card {
  border-radius: 10px;
  border: 2px solid #ccc;
  padding: 15px;
}
